<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijo-b/hijo-b.html">
<link rel="import" href="../hijo-c/hijo-c.html">
<!-- <link rel="import" href="../paper-button/paper-button.html"> -->

<dom-module id="examen-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{visible}}">
        <h1>Titulo</h1>
        <p>Descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo exercitationem, ducimus ab! Magnam nisi, impedit est maxime vero inventore corporis nulla eum saepe cupiditate natus magni dolorum sapiente minus culpa.</p>
        <paper-button on-click="_hijo_b_metodo">Hijo B</paper-button>
        <paper-button on-click="_hijo_c_metodo">Hijo C</paper-button>
      
    </template>
    <template is="dom-if" if="{{hijo_b_propiedad}}">
      <!-- <h1>Elemento b</h1> -->
        <hijo-b></hijo-b>
      
    </template>
    <template is="dom-if" if="{{hijo_c_propiedad}}">
      <!-- <h1>Elemento c</h1> -->
        <hijo-c></hijo-b>
      
    </template>



    
  </template>

  <script>
    /**
     * `examen-element`
     * Esta es un ejercicio del examen que se tiene que realizar
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ExamenElement extends Polymer.Element {
      static get is() { return 'examen-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'examen-element'
          },
          propiedad: {
            type: Array,
            value:()=>{return []}
          },
          visible: {
            type: Boolean,
            value: true
          },
          hijo_b_propiedad: {
            type: Boolean,
            value: false
          },
          hijo_c_propiedad: {
            type: Boolean,
            value: false
          }
        };

      }
      _hijo_b_metodo(){
        this.visible=false
        this.hijo_b_propiedad=true
        this.hijo_c_propiedad=false
      }
      _hijo_c_metodo(){
        this.visible=false
        this.hijo_b_propiedad=false
        this.hijo_c_propiedad=true
      }
    }

    window.customElements.define(ExamenElement.is, ExamenElement);
  </script>
</dom-module>
